<h1>Welcome, {{user.first_name}}</h1>

<p>Full Name: {{user.first_name}} {{user.last_name}}</p>
<p>{{user.image_url}}</p>

<a href="/">Go back</a><br><br>

<a href="/users/{{user.id}}/edit"><button>Edit</button></a>
<!-- <a href="/users/{{user.id}}/delete" method="POST"><button>Delete</button></a> -->
<form>
    <button 
    formaction="/users/{{ user.id }}/delete"
    formmethod="POST"> Delete</button>
</form>

<h2>Posts</h2>

{%for post in user.posts%}
<ul>
    <li>
        <a href="/posts/{{post.id}}">{{post.title}}</a>
        <small>{{post.created_at}}</small>
    </li>
    {% endfor %}
</ul>

<p><a href="/users/{{ user.id }}/posts/new">Add Post</a></p> 